@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk", sans-serif;
  --color-primary: #1132d4;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101322;
}

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100;
  }
}

.glow-effect {
  box-shadow: 0 0 40px 10px rgba(17, 50, 212, 0.3);
}
